#login-form label {
    display: inline-block;
    width:125px;
    text-align: right;
}

form {
    display: table;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;}

#login-form {
    #position: absolute; /*a variation of an "lte ie7" hack*/
    #top: 50%;
    display: table-cell;
    vertical-align: middle;
}

#login-error {
    display: none;
}

#login-error+br {
    display: none;
}

#login-form fieldset {
    #position: relative;
    #top: -50%;
    margin:0 auto;
    width:300px;
    border-radius: 25px;
    border: 1px solid;
}

#login-form input {
    margin: 3px;
}

#btn-submit {
    margin: 3px;
    float: right;
}
